a, img                      {
                            padding-right: 10px;
                            cursor: pointer;
                            padding-left: 1px; 

                            }
#tunes_info, #tunes_filter  {
                            padding-top: 10px;
                            padding-bottom: 10px;
                            padding-right: 10px;
                            padding-left: 1px;
                            }
label                       {
                            width: 200px;
                            }
.tune_data_row              {
                            background: hsl(calc(var(--i) / 1000), 45%, 77%) !important;
                            }

.tune_data_row td           {
                            /* Make the cells transparent so the row color shows through */
                            background: transparent !important;
                            }
